{
	"appId":"ALIHKA7BB56F101257",
	"appKey":"ALIHKA7BB56F101257_ANDROID",
	"base64Code":"",
	"packageName":"com.example.alibabapush",
	"rootPath":"mpaas/android/ALIHKA7BB56F101257-default",
	"v6Base64Code":"",
	"workspaceId":"default",
	"syncport":"443",
	"syncserver":"msync.mpaas.cn-hongkong.aliyuncs.com",
	"pushPort":"443",
	"pushGW":"push.mpaas.cn-hongkong.aliyuncs.com",
	"rpcGW":"https://mgw.mpaas.cn-hongkong.aliyuncs.com/mgw.htm",
	"logGW":"https://mdap.mpaas.cn-hongkong.aliyuncs.com",
	"mpaasapi":"https://mpaasapi.mpaas.cn-hongkong.aliyuncs.com/mgw.htm",
	"mpaasConfigVersion":"V_1.0",
	"mpaasConfigEnv":"INTL_HK_CLOUD",
	"mpaasConfigPluginExpired":"",
	"mpaasConfigLicense":"ynImVR5JteZfBbwHiqpw2yMLnT3gr0aD6NutVkoh73KXIX2+cvWQNUkV543wWuZQ2yfcT5pR5RtHxlD+QQMDw6aOgfyHZB/dE9GxzVR1E9WnJqnMskwlCeSeEUgyWw/WUgmI2hvVIEGzP3u2FL5JsDPLRtxR9AFaaQBWkx7ydV+zo6F98y9LKdqA3B5tJlRA9U1p+6IGwjYhOShyAVyQO4fC+kYeLgVck3C5/onQ0BSk7ng9M9j7JQtfNa4Hlhy7oivQCO/iFt6qDljepQfoSH90KPvPAvRKLf9KVWqiv6dPZQ9UBzXBjhA/QH02IRgU6rBbL9sRR9tTXzBzckpBzw=="
}